$primary-font: "Open Sans", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  color: #333;
  background-color: #fff;
}

.app {
    height: 100vh;

    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .intro {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .log-reg {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .log-reg-wrapper {
        padding: 36px 40px;
        max-width: 530px;
        border: 1px solid #ddd;
        border-radius: 6px;

        h2 {
          font-size: 28px;
        }
      }
    }

    .common-layout {
      display: flex;

      .sidebar {
        width: 250px;
        background-color: #fff;
        color: #333;
        padding: 10px;
        height: 100vh;
        box-sizing: border-box;

        ul {
          list-style: none;
          padding: 0;
          display: block;

          li {
            margin-bottom: 10px;
            display: block;
            padding: 12px;

            &.active {
              box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
              border-radius: 4px;

              a {
                i {
                  background-color: #006BFF;
                  color: white;
                }
              }
            }

            a {
              color: #333;
              text-decoration: none;
              display: inline-block;

              i {
                font-size: 18px;
                margin-right: 8px;
                padding: 4px;
                border-radius: 4px;
                color: #006BFF;
              }
            }
          }
        }
      }
    }
}