asgiref==3.8.1
Django==4.2.9
django-cors-headers==4.5.0
django-jazzmin==3.0.0
djangorestframework==3.15.2
mssql-django==1.5
PyJWT==2.9.0
pyodbc==5.2.0
pytz==2024.2
sqlparse==0.5.1
typing_extensions==4.12.2
